{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier", "import", "react"],
  "env": {
    "browser": true
  },
  "rules": {
    "prettier/prettier": "error",
    "func-names": ["error", "never"],
    "no-param-reassign": 0,
    "class-methods-use-this": 0,
    "import/no-extraneous-dependencies": 0,
    "prefer-template": 0,
    "no-console": 0,
    "global-require": 0,
    "react/jsx-filename-extension": 0,
    "no-underscore-dangle": 0,
    "import/no-named-as-default": 0,
    "import/prefer-default-export": 0
  },
  "globals": {
    "__DEV__": false,
    "__TEST__": false,
    "__PROD__": false,
    "__COVERAGE__": false
  }
}
